@model IEnumerable<Review>

@{
    ViewData["Title"] = "ReviewsList";
}

<div class="row justify-content-center">

    <div class="col-9 ">
        <h3 class="h3 text-center" style="margin-top:20px">
            @if (TempData["MovieName"] != null)
            {
                <span class="alert alert-danger" id="error">@TempData["MovieName"]</span>
            } Reviews
        </h3>
        @if (Model == null || Model.ToList().Count == 0)
        {

            @: <p class="lead text-center"> No Reviews Added</p>
        }
        else
        {
            foreach (var review in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title" style="float:right">
                            Movie Rating:
                            @review.MovieRating
                        </h6>
                        <h5 class="card-title">@review.Title</h5>
                        <small style="float:right" class="card-title">by @review.UserEmail</small>
                        <p class="card-text">
                            @review.ReviewDescription
                        </p>
                        @if (User.Identity.Name == review.UserEmail && (DateTime.Now - review.CreatedAt).TotalHours <= 48)
                        {
                            <button type="button" onclick="location.href='@Url.Action("EditReview", "Reviews", new { id = review.ReviewID })'">Edit</button>
                            <button type="button" onclick="location.href='@Url.Action("DeleteReview", "Reviews", new { id = review.ReviewID })'">Delete</button>
                        }
                    </div>
                </div>
                <hr>
            }
        }
    </div>
    <a asp-action="Index" asp-controller="Movies" class="btn btn-outline-danger my-2">Back to movies</a>

</div>